header {
  background-color: #fff;
  width: 100%;
  margin-top: 20px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.link {
  color: rgb(40, 43, 34);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.ikonlar {
  display: flex;
  gap: 70px;
}
.insta {
  display: flex;
  gap: 20px;
}
.phone {
  font-size: 10;
}
.phone1 {
  display: flex;
  align-items: center;
}
.link:hover {
  color: #f5bc00;
  cursor: pointer;
}
.img-header:hover {
  cursor: pointer;
  background-color: #2d00f5;
}
.phone:hover {
  cursor: pointer;
  color: #f5bc00;
}
.menu-btn {
  border: none;
  background-color: inherit;
  display: none;
  margin-left: 10px;
}
.nav-line {
  display: none;
}
.menu-btn:hover {
  cursor: pointer;
}
@media (max-width: 980px), (mini-width: 300px) {
  .navbar {
    background-color: #fff;
    z-index: 1;
    display: none;

    .header-list {
      position: absolute;
      background-color: #fff;
      z-index: 5;
      flex-direction: column;
      width: 80%;
      right: 0;
      top: 50px;
      height: 500px;
      box-shadow: -95px 39px 34px 6px rgba(34, 60, 80, 0.2);
    }
  }
  .active {
    .nav-line {
      display: block;
      border: 1px solid black;
      margin-top: 5px;
      border-radius: 11px;
    }
    display: block;
  }
  .menu-btn {
    display: block;
  }
  .insta {
    gap: 10px;
  }
  .ikonlar {
    gap: 10px;
  }
  .phone {
    font-size: 10px;
    margin-right: 10px;
  }
  .logo {
    margin-right: 20px;
  }
}
