.btn {
  padding: 22px 56px;
  background-color: #ae7b3c;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-dack {
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  background-color: #ae7b3c;
}
.btn:hover {
  cursor: pointer;
  background-color: aquamarine;

  .btn-dack {
    background-color: aquamarine;
    color: rgb(0, 0, 0);
  }
}
.btn-img {
  width: 100%;
  max-width: 15px;
  margin-bottom: -3px;
  margin-right: 5px;
}
